<div class="container">
  <!-- <button *ngFor="let user of users" (click)="changeCurrentUser($event, user)">{{user.name}}</button> -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Select User</label>
    <div class="col-sm-4">
      <select class="form-control" (change)="onChange($event.target.value)">
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
      </select>
    </div>
  </div>

  <app-user [user]="currentUser"></app-user>

  <pre>{{users|json}}</pre>

</div>
