<form [formGroup]="userForm" *ngIf="userForm">

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="name" [ngClass]="userForm.controls['name'].valid?'':'error'">Name</label>
    <div class="col-sm-4">
      <input class="form-control" formControlName="name" type="text" id="name">
      <div *ngIf="userForm.controls['name'].errors && !userForm.controls['name'].pristine" class="error-msg">
        <div [hidden]="!userForm.controls['name'].errors.required">Name is required.</div>
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="email" [ngClass]="userForm.controls['email'].valid?'':'error'">E-mail</label>
    <div class="col-sm-4">
      <input class="form-control" formControlName="email" type="email" id="email">
      <div *ngIf="userForm.controls['email'].errors && !userForm.controls['email'].pristine" class="error-msg">
        <div [hidden]="!userForm.controls['email'].errors.required">Email is required.</div>
      </div>
    </div>
  </div>

  <!-- <div class="form-group row">
    <label class="col-sm-2 col-form-label" for="phone" [ngClass]="userForm.controls['phone'].valid?'':'error'">Phone</label>
    <div class="col-sm-4">
      <input class="form-control" formControlName="phone" type="phone" id="phone">
    </div>
  </div> -->

  <div class="form-group row" formGroupName="address">
    <label class="col-sm-2 col-form-label" for="city" [ngClass]="userForm.controls['address'].controls['city'].valid?'':'error'">City</label>
    <div class="col-sm-4">
      <input class="form-control" formControlName="city" type="text" id="city">
      <div *ngIf="userForm.controls['address'].controls['city'].errors && !userForm.controls['address'].controls['city'].pristine"
        class="error-msg">
        <div [hidden]="!userForm.controls['address'].controls['city'].errors.required">City is required.</div>
        <div [hidden]="!userForm.controls['address'].controls['city'].errors.uniqueCity">{{userForm.controls['address'].controls['city'].errors.uniqueCity.message}}</div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-4">
      <button type="button" class="btn btn-default" [disabled]="!userForm.valid">Save</button>
    </div>
  </div>

</form>
